:root{
    --SLATE: #434455; 
    --NAVY-BLUE: #2E2F42;
    --IRIS: #4D5AE5; 
    --OCEAN: #404BBF; 
    --CLOUD: #F4F4FD;
    --WHITE: #FFFFFF;
}

body{
    font-family: "Roboto", sans-serif;
    color: var(--SLATE, #434455);
    background-color: var(--WHITE, #FFFFFF);
}

.button{
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--IRIS, #4d5ae5);
background-color: var(--CLOUD, #f4f4fd);
cursor:pointer;
}

.button:hover,
.button:focus{
color: var(--WHITE, #FFFFFF);
background-color: var(--OCEAN, #404BBF);
}

.button-ii{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--IRIS, #4d5ae5);
    color: var(--WHITE, #ffffff);
    cursor:pointer;
    }

.buttonII:hover,
.buttonII:focus{
background-color: var(--OCEAN, #404BBF);
}

.list{
    list-style: none;
}

.list-ii{
    text-decoration: none;
}

.list-iii{
    font-style:normal;
}

.list-iiii{
    list-style: none;
    text-decoration: none;
}

.link{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--IRIS, #4d5ae5);
    text-decoration: none;
}

.link-sec{
    color: var(--NAVY-BLUE, #2e2f42);
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.link-sec:hover, .link-sec:focus{
    background-color: var(--OCEAN, #404BBF);
}

.link-ii{
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.link-ii:hover, .link-ii:focus{
    background-color: var(--OCEAN, #404BBF);
}

.sec-i{
    background-color: var(--NAVY-BLUE, #2e2f42);
}

.span{
    color: var(--NAVY-BLUE, #2e2f42)
}

.span-ii{
    color: var(--CLOUD, #f4f4fd)
}

.p-ii{
    color: var(--SLATE,  #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.head-i{
    color: var(--WHITE, #ffffff);
    background-color: var(--NAVY-BLUE, #2e2f42);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.h-ii{
    color: var(--NAVY-BLUE, #2e2f42);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.h-iii{
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.h-iiii{
    color: var(--NAVY-BLUE, #2e2f42);
    background-color: var(--CLOUD, #F4F4FD);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.foot{
    background-color: var(--NAVY-BLUE, #2e2f42);
}

.foot-ii{
    color: var(--CLOUD, #F4F4FD);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.color{
    background-color: var(--WHITE, #FFFFFF);
}

.color-ii{
    background-color: var(--CLOUD, #F4F4FD);
}