* {
    margin: 0px;
    padding: 0px;
}
:root{
    --SLATE: #434455; 
    --NAVY-BLUE: #2E2F42;
    --IRIS: #4D5AE5; 
    --OCEAN: #404BBF; 
    --CLOUD: #F4F4FD;
    --WHITE: #FFFFFF;
    --SUCCESS: #31d0aa;
    --LIGHT-SLATE: #8e8f99;
}

body{
    font-family: "Roboto", sans-serif;
    color: var(--SLATE, #434455);
    background-color: var(--WHITE, #FFFFFF);
}

img{
    display:block;
}

.button{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--IRIS, #4d5ae5);
    background-color: var(--CLOUD, #f4f4fd);
    cursor:pointer;
}

.button:hover{
    color: var(--WHITE, #FFFFFF);
    background-color: var(--OCEAN, #404BBF);
}

.button:active{
    color: var(--WHITE, #FFFFFF);
    background-color: var(--OCEAN, #404BBF);
}

.button-ii{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    letter-spacing: 0.04em;
    background-color: var(--IRIS, #4d5ae5);
    color: var(--WHITE, #ffffff);
    cursor:pointer;
    }

.button-ii:hover{
    background-color: #404BBF;
}

.button-ii:active{
    background-color: #404BBF;
}

.list{
    list-style: none;
}

.list-ii{
    text-decoration: none;
}

.list-iii{
    font-style:normal;
}

.list-iiii{
    list-style: none;
    text-decoration: none;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--IRIS, #4d5ae5);
}

.link{
    text-decoration: none;
}

.link-i{
    color: var(--NAVY-BLUE, #2e2f42);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link-i:hover{
    color: var(--OCEAN, #404BBF);
}

.link-i:active{
    color: var(--OCEAN, #404BBF);
}

.link-ii{
    color: var(--SLATE, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link-ii:hover{
    color: var(--OCEAN, #404BBF);
}

.link-ii:active{
    color: var(--OCEAN, #404BBF);
}

.sec-i{
    display: flex;
    padding:188px 0;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background.jpg);
    background-repeat: no-repeat;
    max-width: 1440px;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
}

.span{
    color: var(--NAVY-BLUE, #2e2f42)
}

.span-ii{
    color: var(--CLOUD, #f4f4fd)
}

.p-ii{
    color: var(--SLATE,  #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.head-i{
    color: var(--WHITE, #ffffff);
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.h-ii{
    color: var(--NAVY-BLUE, #2e2f42);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing:0.02em;
}

.h-iii{
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.h-iiii{
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.text-height{
    height: 72px;
}

.foot{
    background-color: var(--NAVY-BLUE, #2e2f42);
}

.foot-ii{
    color: var(--CLOUD, #F4F4FD);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.color{
    background-color: #FFFFFF;
}

.color-ii{
    background-color: #F4F4FD;
}

.container{
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.box{
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}

.boxi{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.block{
    border-bottom: 1px solid #e7e9fc;
    }

.blocki{
    display: flex;
}

.block-i{
    display: flex;
    align-items: center;
}

.block-ii{
    margin-right: 76px;
}

.block-iii{
    display: flex;
    gap: 40px;
    margin-right: 40px;
}

.block-iv{
    padding-top: 24px;
    padding-bottom: 24px;
}

.style{
    padding-top: 188px;
    padding-bottom: 188px;
}

.style-i{
    padding-top: 24px;
    padding-bottom: 24px;
}

.style-ii{
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: var(--IRIS, #4d5ae5);
    border-radius: 4px;
    cursor: pointer;
}

.stylei{
    padding-top: 120px; 
    padding-bottom: 120px;
}

.styll{
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.styleii{
    flex-basis: calc((100% - 72px) / 4);
}

.styleiii{
    margin-bottom: 8px;
}

.seci{
    padding-bottom: 120px;
}

.sec-ii{
    margin-bottom: 72px;
}

.sec-iii{
    display:flex;
    gap: 24px;
}

.sec-iv{
    flex-basis: calc((100% - 48px) / 3);
}

.sec-v{
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.sec-vi{
    padding: 32px 0px
}

.h-vv{
    text-align:center;
    margin-bottom: 8px;
}

.h-3{
    text-align:center;
}

.footer{
    padding-top: 100px;
    padding-bottom: 100px;
}

.alink{
    display: inline-block;
    margin-bottom: 16px;
}

.footerii{
    max-width: 264px;
}

.main{
    padding-top: 96px;
    padding-bottom: 120px;
}

.mainii{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.button-v{
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
}

.button-v:hover{
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-v:focus{
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.sec-x{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.list-item:nth-child(3n+3){
    margin-right: 0;
    margin-bottom: 0;
}

.list-itemii:last-child{
    margin-right: 0;
}

.cont{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.conti{
    margin-bottom: 8px;
}

.sec-v > svg{
    display: block;
    width: 100%;
    height: 100%;
}

.wector{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social{
    width: 40px;
    height: 40px;
}

.sociali{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
}

.sociali:hover{
    background-color: #404bbf;
}
.sociali:focus{
    background-color: #404bbf;
}

.wectori{
    display: flex;
    align-items: center;
    width: 264px;
    height: 428px;  
}

.wec-wec{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.display{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.style-iii{
    padding-top: 120px;
    padding-bottom: 60px;
}

.padding{
    padding-bottom: 100px;
}

.text{
    color: var(--WHITE);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.eclipse{
    background-color: var(--IRIS);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.icon{
    align-items: center;
    justify-content: center;
}

.start{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.customers{
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    margin-bottom: 72px;
    text-align: center;
}

.displayi{
    display: flex;
    gap: 24px;
}

.point{
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.link-customers{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    color: #8e8f99;
}

.link-customers:hover{
    border-color: #404bbf;
    color: #404bbf;
}

.link-customers:focus{
    border-color: #404bbf;
    color: #404bbf;
}

.footer-part{
    display: flex;
    align-items: baseline;
}

.footer-partii{
    margin-right: 120px;
}

.footer-partiii{
    display: flex;
    gap: 16px;
}

.social-social{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
}

.social-social:hover{
    background-color: #31d0aa;
}

.social-social:focus{
    background-color: #31d0aa;
}

.button-block{
    display: block;
}

.button-block:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.button-block:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.svg{
    fill: currentcolor;
}

.svgi{
    fill: #f4f4fd;
}

.gap{
    justify-content: space-evenly;
}